<!DOCTYPE html>
<html lang="pt">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


      <title>Registro</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="/css/login.css"">
    </head>
  <body>

    <div class="animated slideInLeft" id="square">    
      <div class="animated bounceInUp" id="leftSquare">
        <div class="animated bounceInUp" id="circle">
        <img class="brand img-responsive" src="/img/shutterstock_image.png" />
      
      </div>
    
    </div>   
      
    <div class="animated bounceInDown" id="rightSquare">
      <div id="container">
      <h2 class="signup">Registrar agendamento </h2>
      <form method="POST" action="/salvaragendamento">
          <input class="optin" type="text" name="nome" placeholder="Nome" autocomplete="off" id="nome" />
                     
        <input class="optin" type="email" name="email" placeholder="Email" autocomplete="off" id="email" onclick="erro()">
          <input class="optin" type="text" name="telefone" placeholder="Telefone" autocomplete="off" id="telefone" />
          <input class="optin" type="text" name="endereco" placeholder="Endereco" id="endereco">
          <input  class="optin" type="text" name="complemento" placeholder="Complemento" id="complemento">   
          <input  class="optin" type="date" name="data" placeholder="Data" id="data">  
          <button class="animated infinite pulse button btn btn-info">
          <span><i class="" aria-hidden="true"></i></span><span id="registrar">Registrar agendamento</span>
          </button>
          <h3 id="footer">Ao continuar você concorda com nossos <span id="terms">termos e condições.</span></h3>
      </form>  
    </div>   

  </body>

</html>